{{define "random-index"}}
<!doctype html>
<html lang="en">
	<!-- TODO: Make language dependent on page language -->
	<!-- TODO: Translate parts of the page using i18n -->
	<head>
		<meta charset="utf-8" />
		<title>{{tr .Localizer "EnterWordSearch" "Enter word search query"}}</title>
		<meta name="viewport"
		      content="width=device-width, initial-scale=1" />
		<link rel="stylesheet"
		      type="text/css"
		      href="/static/styles.css" />
	</head>
	<body>
		<h1>Enter word specification</h1>
		<form>
			<input id="first-focus"
			       type="text"
			       name="q"
			       placeholder="lang:pl tr:en (#a1|#a2)"
			       autofocus />
			<input type="submit"
			       value="{{tr .Localizer "Find" "Find"}}" />
		</form>
	</body>
</html>
{{end}}

{{define "random-word"}}
<!doctype html>
<html lang="{{.Word.LanguageCode}}">
	<!-- TODO: Translate parts of the page using i18n -->
	<head>
		<meta charset="utf-8" />
		<title>{{if .Error}}{{tr .Localizer "Error" "Error"}}: {{.Error}}{{else}}{{.Word.Word}}{{end}}</title>
		<meta name="viewport"
		      content="width=device-width, initial-scale=1" />
		<link rel="stylesheet"
		      type="text/css"
		      href="/static/styles.css" />
	</head>
	<body>
		{{if .Error}}
			<section class="error">
				<h1>{{tr .Localizer "Error" "Error"}}</h1>
				<p>{{.Error}}</p>
			</section>
		{{else}}
			<article class="random-word">
				<h1>{{.Word.Word}}</h1>

				{{if .Word.Notes}}
					<p>{{.Word.Notes}}</p>
				{{end}}

				{{if .Word.Translations}}
					<h2>{{tr .Localizer "Translations" "Translations"}}</h2>
					<dl class="random-word-translations">
						{{with $ctx := .}}
						{{range .Word.Translations}}
							<dt lang="{{.LanguageCode}}">{{index $ctx.LanguageNativeNameMap .LanguageCode}}</dt>
							<dd lang="{{.LanguageCode}}">{{.Translation}}</dd>
						{{end}}
						{{end}}
					</dl>
				{{end}}

				{{if .Word.Tags}}
					<p>
						{{tr .Localizer "Tags" "Tags"}}:
						{{range .Word.Tags}}
							#{{.}}
						{{end}}
					</p>
				{{end}}
			</article>
		{{end}}
		<section>
			<h2>{{tr .Localizer "GetNewWord" "New word"}}</h2>
			<form>
				<input type="text"
				       name="q"
				       value="{{.Spec}}"
				       placeholder="lang:pl tr:en (#a1|#a2)" />
				<input id="first-focus"
				       type="submit"
			         value="{{tr .Localizer "Find" "Find"}}"
				       autofocus />
			</form>
		</section>
	</body>
</html>
{{end}}
