body {
	color: black;
	background-color: #FFCDB2;
	font-family: sans-serif;
}

article, section {
	max-width: 40em;
	padding: 0 0.5em;
}

article.random-word h1 {
	font-size: 300%;
}

dl.random-word-translations {
	display: grid;
	grid-template-columns: repeat(2, lfr);
	grid-auto-columns: min-content max-content;
}

dl.random-word-translations dt::after {
	content: ": ";
}

dl.random-word-translations dt {
	grid-column: 1;
	-ms-grid-column: 1;
	padding-right: 1em;
}

dl.random-word-translations dd {
	grid-column: 2;
	-ms-grid-column: 2;
	margin: 0;
}
